* {
  padding: 0px;
  margin: 0px;
}
/* 
.opening-hours-container {
  display: flex;
  flex: wrap;
  flex-direction: row;
} */

/* button {
  max-width: 6rem;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: #484a4b;
  box-shadow: 0 20px 20px -10px #25293450;
  color: white;
} */

.form-box-facilities {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  min-height: 70vh;
  min-width: 50vw;
  background-color: #f8f9fa;
  background-image: fixed;
  /* padding: 1rem; */
  color: black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #00b4d8;
}

.facilities-image-container {
  background-image: linear-gradient(to top, #202020 3%, rgba(0, 255, 0, 0) 100%),
    url("https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3ltfGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=60");
  background-repeat: no-repeat;
}

.facilities-input {
  align-self: center;
  justify-self: center;
}

.facilities-input input {
  margin: 0.25rem;
}

.facilities-input .facilities-label {
  margin-left: 0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00b4d8;
}

.form-heading {
  text-align: center;
  padding: 1rem;
  padding-top: 1.5rem;
}
