* {
  padding: 0px;
  margin: 0px;
}

.other-facilities-form-box {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  min-height: 70vh;
  min-width: 50vw;
  background-color: #f8f9fa;
  background-image: fixed;
  /* padding: 1rem; */
  color: black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #00b4d8;
}

.other-facilities-image-container {
  background-image: linear-gradient(to top, #202020 3%, rgba(0, 255, 0, 0) 100%),
    url("https://images.unsplash.com/photo-1550345332-09e3ac987658?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");
  background-repeat: no-repeat;
}

/* .other-facilities-input-container {
  align-content: center;
  justify-content: center;
} */

.other-facilities-input {
  align-self: center;
  justify-self: center;
}

.other-facilities-input input {
  margin: 0.25rem;
}

.other-facilities-label {
  margin-left: 0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00b4d8;
}

.form-heading {
  text-align: center;
  padding: 1rem;
  padding-top: 1.5rem;
}
