.button {
  background-color: black;
  border: 0;
  opacity: 1;
  visibility: visible;
  box-shadow: -10px 20px 15px -10px rgba(71, 77, 73, 0.3);
  border-radius: 10px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.prevbutton {
  background-color: black;
  border: 0;
  opacity: 1;
  visibility: visible;
  box-shadow: -10px 20px 15px -10px rgba(71, 77, 73, 0.3);
  border-radius: 10px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  cursor: pointer;
  margin: 5px;
}
.prevbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.prevbutton span:after {
  content: "\00AB";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.prevbutton:hover span {
  padding-left: 25px;
}

.prevbutton:hover span:after {
  opacity: 1;
  left: 0;
}
