.filter {
  position: absolute;
  top: 7%;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 50px #00b4d8;
  overflow: scroll;
  transform: translate(-100%);
  transition: all 0.5s ease;
  opacity: 0;
}

.filter h2 {
  padding: 2rem;
}

.filterButton,
.closeFilterButton {
  text-decoration: none;
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
  border: 2px solid rgb(65, 65, 65);
  padding: 0.5rem;
  margin-top: 3rem;
  transition: all 0.3s ease;
  width: 10rem;
}

.filterButton:hover,
.closeFilterButton:hover {
  background: rgb(65, 65, 65);
  color: white;
}

.closeFilterButton:first-child {
  left: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.active-filter {
  transform: translate(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .filter {
    width: 100%;
  }
  .filter a {
    left: 40%;
  }
}
