.gym-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}

.address {
  margin-bottom: 0.5rem;
}

.card-icons {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.view-btn {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #00b4d8;
  border: 1px solid #00b4d8;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.view-btn:hover {
  color: #00b4d8;
  background-color: white;
  border: 1px solid #00b4d8;
}
