.contact {
  width: 525px;
  text-align: center;
}

.table {
  width: 525px;
}

.list-item {
  margin-left: 2rem;
}

.facilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 525px;
}
