* {
  padding: 0px;
  margin: 0px;
}

.benefits-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 33%);
  grid-column-gap: 3px;
  overflow: hidden;
  min-height: 55vh;
  min-width: 85vw;
  background-color: white;
  color: white;
  border: none;
}
.benefits-block-1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  background-image: linear-gradient(
      to bottom,
      #333533 30%,
      rgba(0, 255, 0, 0) 100%
    ),
    url("https://images.unsplash.com/photo-1445620466293-d6316372ab59?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=80");
  background-repeat: no-repeat;
}

.h2-benefits {
  color: #00b4d8;
  font-size: 2rem;
  margin-top: 2rem;
}

.benefits-p {
  margin: 2rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.benefits-block-2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  background-image: linear-gradient(
      to bottom,
      #333533 35%,
      rgba(0, 255, 0, 0) 100%
    ),
    url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
  background-repeat: no-repeat;
}

.benefits-block-3 {
  background-image: linear-gradient(
      to bottom,
      #333533 38%,
      rgba(0, 255, 0, 0) 100%
    ),
    url("https://images.unsplash.com/photo-1554284126-aa88f22d8b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fHdvcmtvdXR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
}

/* 
.gym-details-input-container {
  padding: 2.5rem;

  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(
      to bottom,
      #333533 10%,
      rgba(0, 255, 0, 0) 100%
    ),
    url("https://images.unsplash.com/photo-1544033527-b192daee1f5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat;
} */
.form-heading {
  text-align: center;
  padding-bottom: 1.5rem;
}

.logo {
  align-content: center;
  margin-left: 45px;
  margin-bottom: 10px;
}
