.buddiesHeader {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.buddiesHeader h1 {
  color: black;
}

.buddiesBody {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.buddiesCards {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.buddiesCards h1 {
  color: black;
}

@media screen and (max-width: 768px) {
  .buddiesBody {
    flex-direction: column;
    align-items: center;
  }
}
