* {
  padding: 0px;
  margin: 0px;
}

button {
  max-width: 6rem;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: #484a4b;
  box-shadow: 0 20px 20px -10px #25293450;
  color: white;
}

.login-button {
  max-width: 6rem;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 0.25rem;
  background-color: #484a4b;
  box-shadow: 0 20px 20px -10px #25293450;
  color: white;
}

.button-block {
  display: grid;
  grid-gap: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 2rem;
}
.loginForm {
  width: 90%;
}

.login-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 3rem;
}

.login-image-container {
  background-image: url("https://images.unsplash.com/photo-1572459815549-873917ec8c0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat;
}

.login-input-container {
  padding-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.form-box {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 10px;
  overflow: hidden;
  color: black;
  border: 2px solid #484a4b;
  border-radius: 5px;
  box-shadow: 0 20px 20px -5px #25293450;
  min-height: 60vh;
  min-width: 50vw;
  text-align: center;
  font-size: 1.25rem;
  /* padding: 1rem; */
  width: 60%;
}

.form-heading {
  text-align: center;
  padding: 1rem;
  padding-top: 1.5rem;
}
