.gym-container {
  margin: 3rem;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  width: 50%;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 25px;
  max-width: 500px;
  box-shadow: 0px 0px 20px #00b4d8;
  margin-top: 4rem;
}

.about-container {
  width: 50%;
}

.title {
  padding: 1rem 0;
  margin: 0 2rem;
  color: black;
  font-size: 2.5rem;
  border-bottom: 2px solid black;
}

.info-container {
  margin-left: 2rem;
  margin-top: 1rem;
}

.accordian {
  margin: 1rem 0;
  margin-right: 2rem;
}

.review-container {
  text-align: center;
}

.overall-rating {
  font-size: 4rem;
  font-weight: bold;
  padding: 0.5rem;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  border: 1px solid #00b4d8;
  border-radius: 20px;
}

.ratings {
  padding-right: 5rem;
}

.review {
  text-align: right;
}

.category-name {
  margin-right: 1rem;
  text-align: right;
}

.comment {
  width: 50%;
  text-align: left;
  align-self: center;
}

.attendGymBtn {
  max-width: none;
  margin-top: 1rem;
}

@media screen and (max-width: 1100px) {
  .image {
    max-width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .gym-container {
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }

  .image-container {
    width: 100%;
  }

  .image {
    max-width: 400px;
  }
  .about-container {
    width: 100%;
  }

  .title {
    text-align: center;
    font-size: 2rem;
  }

  .ratings {
    padding-right: 0;
  }
  .comment {
    width: 100%;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .gym-container {
    margin: 1rem;
  }
  .image {
    max-width: 250px;
    max-height: 200px;
  }

  .about-container {
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
  }

  .facility {
    padding: 1rem;
  }
}
