.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  box-shadow: 0 30px 30px -5px #25293450;
  margin: 0.25rem;
  max-width: 25vw;
  height: 60px;
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(180deg, white, white),
    radial-gradient(circle at top left, #00b4d8, #0096c7);
  background-origin: border-box;
  background-clip: content-box, border-box;
  /* background: white;
  border-radius: 30px;
  padding: 1rem;
  border: 4px solid;
  border-image: linear-gradient(to right, #00b4d8, rgb(58, 123, 213));
  border-image-slice: 1; */
}

.navbar .nav-item-container {
  flex-direction: row;
  max-width: 20%;
  /* background-color: grey; */
}

a {
  max-width: 20%;
  color: white;
  border: 1px solid black;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  border: 0px;
  border: 2px solid bottom;
  border-image: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
  border-image-slice: 1;
  color: #0096c7;
  margin: auto;
  text-decoration: none;
}
