@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  max-width: 100vw;
  border: double 4px transparent;
}

.navlogo {
  /* justify-self: flex-start;
  align-self: flex-start; */
}
/* 
.navbar .nav-item-container:active {
  flex-direction: row;
  max-width: 20%;
} */

.navbarLink {
  max-width: 20%;
  border: 1px solid black;
  justify-self: flex-end;
  align-self: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-top: 5rem;
  border: 0px;
  font-size: 1.3rem;
  color: white;
  border-radius: 10px;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
}

.navbarLink:hover {
}

.navbarLink::before {
  display: block;
  height: 5px;
  width: 0%;
  background-color: #f1faee;
  content: "";
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

.navbarLink:hover:before {
  width: 4.7%;
}

.navlogo {
  align-content: flex-start;
  float: left;
}
