.form-element {
  padding: 0.75rem;
}

.password-input {
  width: 100%;
  padding: 0.5rem 0rem;
  border-radius: 35px;
  border: 1px solid #aaaaaa;
  line-height: 1.5px;
  height: 48px;
  text-align: center;
}
