* {
  padding: 0px;
  margin: 0px;
}

button {
  max-width: 6rem;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: #484a4b;
  box-shadow: 0 20px 20px -10px #25293450;
  color: white;
}

.button-block {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 2rem;
}

.details-form-box {
  margin: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 10px;
  overflow: hidden;
  /* flex-wrap: wrap; */
  min-height: 60vh;
  min-width: 50vw;
  background-color: #00b4d8;
  /* background-image: fixed; */
  /* padding: 1rem; */
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #00b4d8;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.gym-details-image-container {
  background-color: #00b4d8;
  padding: 0px;
  margin: 0px;
  /* min-height: 70vh; */
}

.gym-details-input-container {
  padding: 2.5rem;
  /* color: #00b4d8; */
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(
      to bottom,
      #333533 10%,
      rgba(0, 255, 0, 0) 100%
    ),
    url("https://images.unsplash.com/photo-1544033527-b192daee1f5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat;
}

.form-heading {
  text-align: center;
  padding-bottom: 1.5rem;
}
