.gymCards {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-overflow: ellipsis;
  display: flex;
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  flex-direction: row;
}
